<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106914970113-re0nft9tdjdnmsharhjp7j9noelk8o8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106914970113-re0nft9tdjdnmsharhjp7j9noelk8o8s</string>
	<key>API_KEY</key>
	<string>AIzaSyAmKdnaYOFT4HaloE8qGP3jvDdoZguBYZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>106914970113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-6a940</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-6a940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106914970113:ios:2e11c41cfe620dc9905e00</string>
</dict>
</plist>